.blueboards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  background-color: rgb(0, 51, 153);
  color: #fff;
}

th, td {
  padding: 5px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.warning::before {
  content: '\26a0';
  cursor: help;
  color: red;
}
