<table>
  <caption>
    {{station.name}}

    {{#if error}}
      <span class="warning" title={{error}}></span>
    {{/if}}
  </caption>
  <thead>
    <tr>
      <th>To</th>
      <th width="135">Departure</th>
      <th>Platform</th>
    </tr>
  </thead>
  <tbody>
    {{#each stationboard as |item|}}
      {{bb-board-item item=item}}
    {{/each}}
  </tbody>
</table>
