<caption>
  {{station.name}}

  {{#if error}}
    <span class="warning" title={{error}}></span>
  {{/if}}
</caption>
<thead>
  <tr>
    <th>Name</th>
    <th>To</th>
    <th width="135">Departure</th>
    {{#if hasPlatforms}}
      <th>Platform</th>
    {{/if}}
  </tr>
</thead>
<tbody>
  {{#each boards as |board|}}
    {{bb-board-item item=board}}
  {{/each}}
</tbody>
